<body>
  <!---->
  <div class="allContainer">
    <div class="container">
      <div class="header">
        <div class="logo">
          <div class="logo-text">Nimesulida</div>
        </div>
      </div>
    </div>
    <div class="spaceBar">

    </div>
    <div class="menu">
      <div class="menu-item"></div>
      <div class="menu-buttons">
        <div class="menu-button" id="button1">Principal</div>
        <div class="menu-button" id="button2">Ajustes</div>
        <div class="menu-button" id="button3">Cuidados</div>
      </div>
    </div>
    <div class="spaceBar"></div>
    <div class="info-box">
      <div class="info-header">
        <div class="info-title">Classe</div>
      </div>
    </div>
    <div class="info-content">
      <div class="info-description">Anti-inflamatório não esteroidal.</div>
    </div>
    <div class="info-box">
      <div class="info-header">
        <div class="info-title">Mecanismo de Ação</div>
      </div>
    </div>
    <div class="info-content">

      <div class="info-description">Nimesulida inibe a síntese de prostaglandinas, reduzindo a atividade da
        ciclo-oxigenase 2 (COX-2). Age através da redução da formação de ânion superóxido (O2), bem
        como pela inibição da PDE-4, eliminação de ácido hipocloroso, inibição de proteases (elastase, colagenase),
        prevenção da inativação de inibidores de alfa-1 protease e
        inibição da atividade da histamina.</div>
    </div>
    <!---->
    <div class="info-box">
      <div class="info-header">
        <div class="info-title">Apresentação</div>
      </div>
    </div>
    <div class="info-content">
      <div class="container">
        <div class="dosage-info">
          <div class="dosage-type">
            <span class="dosage-title">Comprimido simples:</span>
            <span class="dosage-description">100 mg (Nisulid®, Maxulid100®, Nimesilam®, Neosulida®, Inflalid®,
              Scaflogin®, Scalid®, Cimelide®, Nisufar®, Niflag®, Nortilid®, genérico);</span>
          </div>
          <div class="dosage-type">
            <span class="dosage-title">Comprimido dispersível:</span>
            <span class="dosage-description">100 mg (Nisulid®, Nortilid®, Prexulid®);</span>
          </div>
          <div class="dosage-type">
            <span class="dosage-title">Cápsula de ação prolongada:</span>
            <span class="dosage-description">200 mg (Arflex retard®);</span>
          </div>
          <div class="dosage-type">
            <span class="dosage-title">Suspensão oral:</span>
            <div class="oral-suspension">
              <span class="dosage-description">10 mg/mL (Nimesulix®);</span>
              <span class="dosage-description">50 mg/mL (Nisulid®, Nimesilam®, Inflalid®, Nimesulix®, Cimelide®,
                Nisoflan®, Niflag®, Nortilid®, Scaflogin®, genérico).</span>
            </div>
          </div>
          <div class="dosage-type">
            <span class="dosage-title">Para mais informações sobre apresentações com indicações distintas, acesse:
            </span>
            <div class="oral-suspension">
              <a href="google.com" class="dosage-title">Topico</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!---->
    <div class="info-box">
      <div class="info-header">
        <div class="info-title">Uso Clínico</div>
      </div>
    </div>
    <div class="dosage-type">
      <div class="oral-suspension">
        <span class="dosage-description">Burcite;</span>
      </div>
    </div>
    <div class="dosage-type">
      <div class="oral-suspension">
        <span class="dosage-description">Lombalgia;</span>
      </div>
    </div>
    <div class="dosage-type">
      <div class="oral-suspension">
        <span class="dosage-description">Torcicolo;</span>
      </div>
    </div>
    <!---->
    <div class="info-box">
      <div class="info-header">
        <div class="info-title">Posologia
        </div>
        <span style="color: rgb(121, 121, 14);" class="title">Posologia de acordo com a bula da Anvisa ou orientação do fabricante. Para a
          consuta em cada doença, consulte uso clínico</span>
      </div>
    </div>
  </div>

</body>
